.c-img-w {
  img {
    width: 100%;
  }
}

.c-img-c {
  img {
    margin-right: auto;
    margin-left: auto;
  }
}

.c-img-fit {
  img {
    object-fit: cover;
    object-position: center;
  }
}

.c-img-zoom {
  @include l-pc {
    overflow: hidden;
  }
  img {
    @include l-pc {
      transition: transform 0.5s;
    }
  }
  &:hover {
    img {
      @include l-pc {
        transform: scale(1.2);
      }
    }
  }
}
