.u-dn {
  &-all {
    display: none;
  }
  &-pc {
    @include l-pc {
      display: none;
    }
  }
  &-tb {
    @include l-tablet {
      display: none;
    }
  }
  &-sp {
    @include l-mobile {
      display: none;
    }
  }
}
