.l-contents {
  flex: 1; // footerを下部に固定する
  overflow: hidden; // sticky導入時コメントアウト
  background-color: c(white-nl);
}

.l-contents-in {
  @include l-pc {
    width: vw(1100, 1440);
    margin-right: auto;
    margin-left: auto;
  }
}

.l-contents-bg {
  padding: sh(60, 0, 120);
  @include l-tablet {
    padding: sh(60, 30);
  }
  @include l-mobile {
    padding: sh-mn(40, 15);
  }
  .is-ie & {
    @include l-mobile {
      padding: sh(40, 15);
    }
  }
  &--sheet {
    @include l-pc {
      padding: sh(180, 0, 60);
      margin-top: rem(-100);
    }
  }
}
