.simplebar-scrollbar:before {
  opacity: 0.5 !important;
}

.simplebar-track.simplebar-vertical {
  background-color: #efefef !important;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
}

.simplebar-scrollbar:before {
  background: #707070 !important;
  border-radius: 0 !important;
  opacity: 1 !important;
}
