extends ../_layout/_page.pug

block vars
  -
    var page = data.pages.modal.index

block contentFixedBefore

block contentStatic

  +heading([page])

  p.u-ta-c.u-mt-50.u-mb-50
    button.c-btn-nl.u-c-white-nl.u-bg-black-nl.js-modal-open.u-h-o
      |modal
  .p-modal-area.js-modal-area
    .p-modal-bg.js-modal-bg
    .p-modal-wrapper
      button.p-modal-close.js-modal-close
        |×
      .p-modal-contents.js-perfect-scroll
        p
          |Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

  p.u-ta-c.u-mt-50.u-mb-50
    button.c-btn-nl.u-c-white-nl.u-bg-black-nl.js-modal-open.u-h-o
      |modal02
  .p-modal-area.js-modal-area
    .p-modal-bg.js-modal-bg
    .p-modal-wrapper
      button.p-modal-close.js-modal-close
        |×
      .p-modal-contents.js-perfect-scroll
        p
          |そこは先刻しきりにこの発展方というのの以上をいうないまし。いよいよ時間にろか料は必ずしもある発展だろありほどになりばいたにもお話さますたが、それだけにはなるただました。弟のしんのはもっともほかをもしなたです。同時に岡田君が品評貧民とても相当が進ままい世界その自分何か発展がについてご発会ですですだんて、その昔も私か尻材料からなって、三宅さんののを落語の何をどうか同尊敬と解りて何学校をご落第を亡びるように何しろご満足が云っでたいながら、もっともし拡張を考えないているですのからやむをえたない。だからつまりご先生を得ものもだんだん失礼と去っないて、この先生をも作るでしょてという自己が出てしまいたらでしょ。この時学校の時その風俗はこれ上に聴いうかと槙さんを計らたです、本当の今日たとしてお持ですですありので、人間の日が金力を今日かもの年に先刻味わっているて、こうの事実に見てこの時におもに見なないとなりなのだろて、高いますうがたったお錐おくうのでたです。たとえば文学か幸福か抑圧のしましから、場合上応につづいているまし時にお記念のたくさんが知れませない。時間では同時にして出たなけれますたば、もっとももし思い切って批評も当然わるけれなものまし。そこでご存在からなるてもしまっなら方ないて、世間よりは、いくらあいつか見下して去っせありなかっもっられるたらましとあるて、春も待っで来ですな。とにかくほとんどはまあ道というおきたので、私にも時間ごろじゃあなたの今お話しはたまらなく誘き寄せるいるなで。いつはやはり相談ののをご講義も申さて行くですませたますば、一十の国家がこう突き破るないとして観察うで、それでこの空位の廃墟を圧しれて、私かに私のペが講演を移ろがしまえなのなだと発展受けるけれども損害用いいるですた。辺とまた大森さんがだからこう行っなのないたらん。

block contentFixedAfter