.p-box-nl {
  width: calc(520 / 1100 * 100%);
  @include l-tablet {
    width: calc(50% - 1.5rem);
  }
  @include l-mobile {
    width: 100%;
  }
}

.p-box-scroll {
  width: 90%;
  max-width: rem(1024);
  height: rem(400);
  padding: rem(10);
  margin-right: auto;
  margin-left: auto;
  border: solid 1px #dbdbdb;
  @include l-mobile {
    height: sp(400);
    padding: sp(10);
  }
  &__in {
    width: 100%;
    height: 100%;
    padding: sh(0, 10 + 20, 0, 10);
    overflow-y: scroll;
    @include l-mobile {
      padding: sh-sp(0, 5 + 20, 0, 10);
    }
  }
}
