.p-chart-doughnut {
  position: relative;
  @include size-rem(200);
  @include l-mobile {
    @include size-sp(200);
  }
  &__canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: fw(bold);
    text-align: center;
    transform: translate(-50%, -50%);
    @include fs-all(16);
  }
}
