.p-table-scroll {
  width: 90%;
  max-width: rem(1024);
  margin-right: auto;
  margin-left: auto;
  overflow-x: auto;
  table {
    min-width: rem(950);
    @include l-mobile {
      min-width: sp(950);
    }
    th,
    td {
      padding: rem(10);
      border: 1px solid #ccc;
      @include l-mobile {
        padding: sp(10);
      }
    }
    th {
      width: rem(100);
      background-color: #f7f7f7;
      @include l-mobile {
        width: sp(100);
      }
    }
    td {
      width: calc(100% - #{rem(100)} / 5);
    }
  }
}
