extends ../_layout/_page.pug

block vars
  -
    var page = data.pages.chart.index

block contentFixedBefore

block contentStatic

  +heading([page])

  .u-mt-50.u-mb-50
    .p-chart-doughnut.u-m-center
      canvas(width="200", height="200" data-ratio="100").p-chart-doughnut__canvas.js-chart-doughnut
      p.p-chart-doughnut__title
        |円グラフ
        br
        |タイトル01

  .u-mt-50.u-mb-50
    .p-chart-doughnut.u-m-center
      canvas(width="200", height="200" data-ratio="50,50").p-chart-doughnut__canvas.js-chart-doughnut
      p.p-chart-doughnut__title
        |円グラフ
        br
        |タイトル02

  .u-mt-50.u-mb-50
    .p-chart-doughnut.u-m-center
      canvas(width="200", height="200" data-ratio="50,30,20").p-chart-doughnut__canvas.js-chart-doughnut
      p.p-chart-doughnut__title
        |円グラフ
        br
        |タイトル03

block contentFixedAfter