// Start to define the global fotter.

footer.l-footer.js-footer.u-bg-gray-dk
  p.u-ta-c.u-c-white-nl.u-ff-en.u-fz-10.u-fw-medium
    small
      |Copyright

// End to define the global fotter.
